
#BROCHERv {
    height: 51px;
    width: 70px;
    margin:auto;
}

#aSide {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aSid {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aSid model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aBLOOD {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aBLOOD model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aCARM {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aCARM model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aULTRA {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aULTRA model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aMEMO {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aMEMO model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aROBO {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aROBO model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aRE {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aRE model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
#aMO {
    height: 400px;
    width: 250px;
    margin:auto;
}


/* This styles the 3D object inserted in the aside container */

#aMO model-viewer {
    height: 400px;
    width: 250px;
    margin:auto;
    border: none;
}
